<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align: center" class="login-page">
    <h1>
        {{title}}
    </h1>
    <form #userlogin="ngForm" (ngSubmit)="onClick(userlogin.value)" class="login-form">
        <b>Enter UserName:</b><input style="text-align: center" type="text" name="username" placeholder="username"  ngModel>
        <br/>
        <b>Enter PassWord:</b><input style="text-align: center" type="password" name="password" placeholder="password" ngModel>
        <br/>
        <pre>
                 <input type="submit" value="submit">   <input type="reset" value="reset">
        </pre>
        
    </form>
</div>
<router-outlet></router-outlet>
